#container {
    width: 1002px;
}

.clr{
    clear: both;
    height: 0px;
    width: 0px;
}
#header {
    background-image: url(./img/top_bg.jpg);
    height: 128px;
}

#nav li {
    float: left;
    width: 92px;
    margin-right: 1px;
}

#nav a {
    font-size: 15px;
    font-family: "微软雅黑";
    display: block;
    width: 92px;
    height: 37px;
    text-align: center;
    color: #363636;
}

#nav a:hover {
    color: white;
    background-image: url(./img/nav_on.gif);
}

#main{

}

.subtitle{
    height: 37px;
    background: url(./img/index_main_top_bg.gif);
}
.subtitle img{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}
.subtitle h1{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-family: "微软雅黑";
}
.subtitle a{
    margin-top: 10px;
    float: right;
}
.four{
    width: 330px;
    height: 260px;
    float: left;
    background: rgb(238,238,238);
    margin:7px;
}
.four img{
    float: left;
    margin-left: 10px;
    margin-top:5px;
    border: white solid 5px;
}
.four ul{
    float: left;
    margin-left: 10px;
    margin-top:5px;
    list-style-type: disc;
}

.four li{
    height: 35px;
}

.four h2{
    font-size: 16px;
    font-family: "微软雅黑";
    margin-left: 10px;
    margin-top:10px;
}
.four a:link{color: grey;}
.four a:hover{color: orange;}
.four a:visited{color: purple;}
#lside{
    width: 694px;
    height: 600px;
    float: left;
    border: 1px solid grey;
}

#rside{
    width: 294px;
    height: 600px;
    float: right;
    background: green;
}

#article{
    background-color: rgb(238,238,238);
    margin-top:10px;
}

#footer{
    background: pink;
    height: 120px;
}